<mat-toolbar *ngIf="successMsg" color="accent"> {{successMsg}}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn"> {{errorMsg}}</mat-toolbar>

<app-nav-bar></app-nav-bar>
<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md col-lg col-md offset-lg offset-md">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h2 class="pt-3 font-weight-bold">Vaskeriet booked</h2>
                    </div>
                    <div class="panel-body">
                        <div class ="spinner-container">
                            <mat-spinner *ngIf="loading"></mat-spinner>
                        </div>
                        <div *ngIf="!loading">
                            <table mat-table [dataSource]="bookings" class="mat-elevation-z8 ">
                                <ng-container matColumnDef="booking_id">
                                    <th mat-header-cell *matHeaderCellDef> Booking id </th>
                                    <td mat-cell *matCellDef="let booking"> {{ booking.bookingId }} </td>
                                </ng-container>
                                <ng-container matColumnDef="time_start">
                                    <th mat-header-cell *matHeaderCellDef> Start time </th>
                                    <td mat-cell *matCellDef="let booking"> {{ booking.startTime | date: 'dd-MM-yyyy HH:mm' }} </td>
                                </ng-container>
                                <ng-container matColumnDef="time_end">
                                    <th mat-header-cell *matHeaderCellDef> End time </th>
                                    <td mat-cell *matCellDef="let booking"> {{ booking.endTime | date: 'dd-MM-yyyy HH:mm' }} </td>
                                </ng-container>
                                <ng-container matColumnDef="price_dkk">
                                    <th mat-header-cell *matHeaderCellDef> Price DKK </th>
                                    <td mat-cell *matCellDef="let booking"> {{ booking.price }} </td>
                                </ng-container>
                                <ng-container matColumnDef="cancel">
                                    <th mat-header-cell *matHeaderCellDef> Cancel </th>
                                    <td mat-cell *matCellDef="let booking"><button
                                            (click)="cancelAppointment(booking.bookingId)" mat-raised-button
                                            color="warn">Cancel</button></td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                                <tr mat-row *matRowDef="let appointments; columns: columns"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>