<mat-toolbar *ngIf="successMsg" color="accent"> {{successMsg}}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn"> {{errorMsg}}</mat-toolbar>

<app-nav-bar></app-nav-bar>
<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h2 class="pt-3 font-weight-bold">Vaskeriet booking</h2>
          </div>
          <div class="panel-body">
            <form (submit)="createAppointment()">
              <ul class="list-group list-group-horizontal" style="padding-bottom: 20px;">
                <li class="list-group-item" (click)="activateItem('fine')"
                  [ngClass]="{ 'active': activeItem === 'fine' }">Fine vask</li>
                <li class="list-group-item" (click)="activateItem('koge')"
                  [ngClass]="{ 'active': activeItem === 'koge' }">Koge vask</li>
                <li class="list-group-item" (click)="activateItem('farve')"
                  [ngClass]="{ 'active': activeItem === 'farve' }">Farve vask</li>
              </ul>

              <div class="from-group pt-0" style="padding-bottom: 20px;">
                <div class="input-field">
                  <input type="text" [(ngModel)]="time_start" name="Time start" matInput [matDatepicker]="pickerStart"
                    placeholder="Choose a start date">
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                </div>
              </div>
              <label>Tider</label>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item" [ngClass]="{ 'active': activeItem === item }"
                  *ngFor="let item of timeList" (click)="activateItem(item)">
                  {{ item }}
                </li>
              </ul>
              


              <button class="btn btn-primary btn-block mt-4 w-100" type="submit">Make Appointment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>