<mat-toolbar *ngIf="successMsg" color="accent"> {{successMsg}}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn"> {{errorMsg}}</mat-toolbar>

<app-nav-bar></app-nav-bar>
<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h2 class="pt-3 font-weight-bold">Vaskeriet booking</h2>
          </div>
          <div class="panel-body">
            <form (submit)="createAppointment()">

              <ul class="list-group list-group-horizontal" style="padding-bottom: 20px;">
                <li class="list-group-item" [ngClass]="{ 'active': activeMachine === machine }"
                  *ngFor="let machine of machines" (click)="activateMachine(machine)">
                  <div style="align-content: center;">
                    <img class="image" src={{machine.path}} alt="Image description"> 
                  </div>
                  {{machine.modelName}} <br> {{machine.machineManufacturer}}
                </li>
              </ul>

              <!--<ul class="list-group list-group-horizontal" style="padding-bottom: 20px;">
                <li class="list-group-item" (click)="activateVaskType('fine')"
                  [ngClass]="{ 'active': activeWashType === 'fine' }">Fine vask</li>
                <li class="list-group-item" (click)="activateVaskType('koge')"
                  [ngClass]="{ 'active': activeWashType === 'koge' }">Koge vask</li>
                <li class="list-group-item" (click)="activateVaskType('farve')"
                  [ngClass]="{ 'active': activeWashType === 'farve' }">Farve vask</li>
              </ul> -->

              <!--<div class="from-group pt-0" style="padding-bottom: 20px;">
                <div class="input-field">
                  <input type="text" [(ngModel)]="startTime" name="Time start" matInput [matDatepicker]="pickerStart"
                    placeholder="Choose a start date">
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                </div>
              </div>-->
              <!--<label>Programmer</label>-->
              <ul class="list-group list-group-horizontal" style="padding-bottom: 20px;">
                <li class="list-group-item" [ngClass]="{ 'active': activeWashType === program.programName }"
                  *ngFor="let program of programs" (click)="activateVaskType(program.programName)">
                  {{ program.programName}} <br> {{program.programRunTimeMinutes}} minuter
                </li>
              </ul>

              <!--<label>Tider</label>
              <ul class="list-group list-group-horizontal" style="padding-bottom: 20px;">
                <li class="list-group-item" [ngClass]="{ 'active': activeTime === item }"
                  *ngFor="let item of timeList" (click)="activateTime(item)">
                  {{ item }}
                </li>
              </ul>-->

              <ul class="list-group list-group-horizontal" style="padding-bottom: 20px;">
                <li class="list-group-item" [ngClass]="{ 'active': activeTime === availableTime.startTime }"
                  *ngFor="let availableTime of availableTimes" (click)="activateTime(availableTime.startTime)">
                  {{ availableTime.startTime | date: 'dd-MM-yyyy HH:mm' }}
                </li>
              </ul>

              <button class="btn btn-primary btn-block mt-4 w-100" type="submit">Opret booking</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>