<mat-toolbar *ngIf="successMsg" color="accent"> {{successMsg}}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn"> {{errorMsg}}</mat-toolbar>

<div class="form-container">
    <form (submit)="createAppointment()">
        <mat-form-field>
          <input [(ngModel)]="time_start" name="Time start" matInput [matDatepicker]="pickerStart" placeholder="Choose a start date">
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="time_end" name="Time end" matInput [matDatepicker]="pickerEnd" placeholder="Choose a end date">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="DKK_per_kWh" name = "DKK_per_kwh" matInput placeholder="DKK_per_kWh">
        </mat-form-field>
        <mat-form-field>
        <input [(ngModel)]="EUR_per_kWh" name = "EUR_per_kwh" matInput placeholder="EUR_per_kWh">
        </mat-form-field>
        <button mat-raised-button color="primary">Make Appointment</button>
    </form>
</div>